.locationTableHeader {
    font-weight: 600;
    color: #848484;
    text-align: center;
    text-transform: uppercase;
  }
  

 
  
  .mat-row:hover {
    background-color: #f1f1f1;
  }
  
  .mat-row-header {
    font-size: 14px;
  }
  
  .mat-cell {
    font-size: 14px;
    text-align: center;
  }
  
  .mat-header-cell {
    font-size: 12px;
    font-weight: 500;
  }
  
  
  ::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

