<div class="card">
  <div class="card-header">
    <div style="float:left;">
      <h6 class="title">View Tree</h6>
    </div>
  </div>

  <div class="card-content" style="padding:2%">
    <div class="card myDrowpdown">
      <div class="card-content" style="padding:2%">
        <div class="brands-name">
          <div *ngFor="let data of fileRecords; let $index=index;">
            <div class="chip" style="cursor:pointer">
              <!-- <img src="img_avatar.png" alt="Person" width="96" height="96"> -->
              <p style="font-weight:600;font-size:12px">{{data.fileName}}
                <i class="fa fa-eye" aria-hidden="true" (click)="Collaps($index, data); viewRecordDialogROOT(data)" matTooltip="View"
                  style=" cursor: pointer;font-size:15px;padding:3px;"></i>
                <i class="fa fa-pencil-square-o" aria-hidden="true" matTooltip="Update File" style=" cursor: pointer;font-size:15px;padding:3px;"
                  (click)="openUpdateFileDialogRoot(data)"></i>
                <i class="fa fa-undo" matTooltip="Revised" style=" cursor: pointer;font-size:15px;padding:3px;" aria-hidden="true" (click)="openRootRollBackDialog(data)"></i>
              </p>
            </div>
            <!-- <div *ngIf="$index === expandedIndex"> -->
            <div *ngFor="let subData of data.revisedFileVOList;let i=index">
              <div class="chip1" style="cursor:pointer">
                <p style="font-weight:600;font-size:12px">{{subData.revisedFileName}}
                    <i class="fa fa-eye" aria-hidden="true" (click)="viewRecordDialogREVISED(subData)" matTooltip="View"
                    style=" cursor: pointer;font-size:15px;padding:3px;"></i>
                  <i class="fa fa-pencil-square-o" aria-hidden="true" matTooltip="Update File" style=" cursor: pointer;font-size:15px;padding:3px;"
                    (click)="openUpdateDialogForRevised(data, subData)"></i>
                  <i class="fa fa-undo" matTooltip="Revised" style=" cursor: pointer;font-size:15px;padding:3px;" aria-hidden="true" (click)="openRevisedRollBackDialog(subData)"></i>
                </p>
              </div>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="card myDrowpdown">
    <div class="card-content" style="padding:2%">
      <div class="brands-name">
         
         

      </div>
    </div>
  </div>
</div> -->
<!-- 
 <ejs-treeview id='treeelement' [fields]='field'></ejs-treeview> -->