<body>
    <div class="bgimg">
        <div class="topleft">
            <p style="font-weight: 600;font-style: italic;color: #3f51b5;margin-top:2%">AKJ</p>
        </div>
        <div class="middle">
            <h1 style="font-weight: 600;font-style: italic;color: #81ff6a;">WELCOME TO FILE HANDLING</h1>
            <hr>
            <p>WORK IN PROGRESS</p>
        </div>
        <div class="bottomleft" routerLink="/file-hanling" style="cursor:pointer">
            <p>Click Here For Process ...</p>
        </div>
    </div>

</body>